.users {
  display: flex;
  flex-wrap: wrap;
  font-family: "MarckScript-Regular";
  font-weight: bold;
  font-size: 1.2rem;

  color: #dd2355;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 250px;

  background-color: #f8f7f2;
  border: 2px solid #dd503718;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.pagination {
  font-size: 1.5rem;

  background-color: #dd2355;
  color: #fff;
}

.pagination:hover {
  cursor: pointer;
  font-size: 14;
}

.pagination > * {
  margin-left: 20px;
}

.statusFolButton {
  border: none;
  height: 35px;
  width: 90px;
  box-shadow: 0 0 5px rgb(44, 25, 25);
  margin-top: 15px;
  font-weight: bold;

  background-color: #fd5e5b;
  color: #f8f7f2;
}

.statusFolButton:disabled {
  background-color: #f77775;
  color: rgb(156, 130, 130)
}

.preloader {
  width: 400px;
  height: 400px;
  margin-top: 200px;
  margin-left: 355px;
}

.pageSelected {
  font-weight: bold;

  color: #fccb6f;
}

@font-face {
  font-family: "MarckScript-Regular";
  src: url("../../fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
