.user {
  height: 250px;

  background-color: #a3170b;
  border: 2px solid #dd4f37;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.location {
  position: relative;
  right: 0;
}

.pagination {
  background-color: #dd4f37;
  color: #fff;
}

.pagination:hover {
  cursor: pointer;
  font-size: 14;
}

.pagination > * {
  margin-left: 20px;
}

.statusFolButton {
  border: none;
  height: 30px;
  width: 85px;
  box-shadow: 0 0 10px rgb(44, 25, 25);
  margin-top: 15px;

  background-color: bisque;
  color: brown;
}

.statusFolButton:disabled {
  background-color: rgb(238, 220, 198);
  color: rgb(163, 83, 83);
}

.preloader {
  width: 400px;
  height: 400px;
  margin-top: 200px;
  margin-left: 355px;
}

.pageSelected {
  font-weight: bold;
  color: #f7965f;;
}
