.friends {
  position: relative;
  top: 30px;
  width: 300px;
  font-size: 1.5rem;

  color: #f8f7f2;
}

.friends a {
  text-decoration: none;
}

.friend {
  list-style-type: none;
  position: relative;
  right: 20%;

  color: #fff;
}


.friend img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}