.header {
  grid-area: h;

  background-color: #dd2355;
}

.header .logo {
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.login {
  float: right;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;

  color: #f8f7f2;
}

.logout {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;

  color: #f8f7f2;
  background-color: #dd2355;
  border: none;
}

.logout:hover {
  cursor: pointer;
}
