.nav {
  grid-area: n;
  padding: 15px;

  background-color: #dd4f37;
}

.item a{
  text-decoration: none;
  cursor: pointer;
  
  color: #f3d59e;
}

.item .active {
  color: #fae7c3;
  font-size: 23px;
}