.nav {
  grid-area: n;
  padding: 15px;

  background-color: #fd5e5b;
}

.item a {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;

  color: #f8f7f2;
}

.item .active {
  font-size: 1.8rem;

  color: #fccb6f;
}
