.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.dialogsItems .dialog {
  padding: 15px;
}

.dialogsItems .dialog a {
  text-decoration: none;
  font-family: "MarckScript-Regular";
  font-size: 1.8rem;

  color: #dd2355;
}

.dialogsItems .dialog .active {
  font-size: 1.5rem;
}

.messages {
  padding: 20px;

  background-color: #dd2355;
  color: #f3d59e;
}

.messages .message {
  padding: 15px;
  font-size: 1.5rem;
}

img.ava {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sendMessage {
  width: 100px;
  height: 40px;
  margin-top: 15px;
  font-size: 1.2rem;
  cursor: pointer;

  color: #dd2355;
  background-color: #f8f7f2;
  border: none;
}

.sendMessage:hover {
  transform: scale(0.9);
}

@font-face {
  font-family: "MarckScript-Regular";
  src: url("../../fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
